.driveSignInCon{
    position: relative;
    z-index: 1;
    margin: auto;
    width: 100vw;
    min-width:800px;
    max-width:800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
@media screen and (max-width:800px){
    .driveSignInCon{
        min-width:99vw;
        max-width:99vw;
       
    }
}
.background{
    position:absolute;
    z-index: -1;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.756);
    background-color: rgba(0, 0, 0, 0.658);
    background-color: rgb(239, 238, 238);
    background-color: #3586e242;



}

.driveSignInRegisterForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    max-height:90vh;
    padding: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none; 

    border-radius: 10px;
   /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.392); */
   background-color: black;
   background-color: rgba(0, 0, 0, 0.363);
   background-color: white;
   box-shadow: 1px 1px 10px black;


}

.driveLogOutRegisterForm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    max-height:90vh;
    min-height: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.392);
    background-color:rgb(255, 255, 255);


}
.logedDriverImg{
    max-width:100px ;
    min-width: 100px;
    max-height: 100px;
    min-height:100px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: -25%;
    border: 10px solid white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);
    background-position: center;
    background-image: url('../image/personNew.jpeg');
    background-repeat: no-repeat;
    background-size:contain;

}
.driveLogOutRegisterFormInfoCon{
    position: relative;
    position: absolute;
    top: 22%;
    max-height: 40%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.driveLogOutRegisterFormInfo{
    position: absolute;
    top: 5%;
    width: 90%;
    max-height: 30%;
    min-height: 30%;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.driveLogOutRegisterFormInfo2{
    position: absolute;
    top: 38%;
    width: 90%;
    max-height: 30%;
    min-height: 30%;

    border: none;
   
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.driveLogOutRegisterFormInfo-1{
    width: 90%;
    max-height: 20%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.driveLogOutRegisterFormInfoName{
    font-size: 14px;

}
.driveLogOutRegisterFormInfoPlName{
    font-size: 14px;
    color: gray;
    

}
.driveSignInRegisterForm::-webkit-scrollbar {
    display: none;
  }

.driveSignInRegisterForm input{
    width: 90%;
    max-height: 20px;
    min-height: 20px;
    border: none;
    margin: 0px;
    margin-bottom: 8px;
    padding: 10px;
    border-bottom: 2px solid #2784ee42;
    background-color: transparent;
    color:black;
    font-size: 15px;
    line-height:1.3;
    letter-spacing: 1px;
}
.driveSignInRegisterForm input::placeholder{
    color:black;
    font-size: 13px;
}
.logInInput{
    width: 90%;
    max-height: 6px;
    min-height: 20px;

    border: none;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);
    background-color: white;
    background-color: lightgrey;

    color: black;
}
.driveSignInRegisterForm input:focus{
    background-color:transparent;
   
}
.driveSignInRegisterFormBtn{
    min-width: 96%;
    max-width: 96%;
    max-height:55px ;
    min-height: 55px;
    margin-top: 8px;
    margin-bottom: 20px;
    background-color: #286ebd;
    border: none;
    color: white;
    font-size: 23px;
    border-radius: 5px;
font-family: fantasy;
font-family:-apple-system, sans-serif;
font-size: 18px;
line-height:1.3;
letter-spacing: 1px;
}
@media screen and (min-width:800px){
    .driveSignInRegisterFormBtn{
        min-width:50%;
        max-width:50%;
       
    }
}
.driveSignInRegisterFormBtn:focus{
    background-color: #286ebda8;

}

.driveSignInRegisterFormBtn2{
    width: 97%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #286ebd;
    border: none;
    color: white;
    font-size: 23px;
    border-radius: 5px;
font-family: fantasy;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);


}
@media screen and (min-width:420px){
    .driveSignInRegisterFormBtn2{
        min-width: 50%;
        max-width: 50%;
       
    }
}
.driveSignInRegisterFormBtn2:focus{
    background-color: #286ebda8;

}
.editNameForm{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.editInput{
    width: 60%;
    max-height: 30%;
    min-height:30%;


    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);
    background-color: lightgrey;

    color: black;
}

.editBtn{
    width: 20%;
    max-height: 30%;
    min-height:30%;
    margin-left: 30px;


    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.165);
    background-color: black;

    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height:1.3;
    letter-spacing: 1px;
}
.signinLinks{
    color: rgb(149, 0, 255);
    margin-left: 5px;
}


